<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378515927752-jbh443c4uhuip1ohcndahbdn4vgjj5fe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378515927752-jbh443c4uhuip1ohcndahbdn4vgjj5fe</string>
	<key>API_KEY</key>
	<string>AIzaSyDvCvuB4x8ckXSZMiKvTioRtcUEUA8zuQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>378515927752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.huyong.SkillSwapper</string>
	<key>PROJECT_ID</key>
	<string>skillswapper-91427</string>
	<key>STORAGE_BUCKET</key>
	<string>skillswapper-91427.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378515927752:ios:05271d5f2c5840d870abfd</string>
</dict>
</plist>